<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

   <welcome-file-list>
        <welcome-file>FormEntry.html</welcome-file>
    </welcome-file-list>

	<servlet>
        <servlet-name>formdownloadservlet</servlet-name>
        <servlet-class>org.purc.purcforms.server.FormDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>formdownloadservlet</servlet-name>
        <url-pattern>/formdownload</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>datauploadservlet</servlet-name>
        <servlet-class>org.purc.purcforms.server.DataUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>datauploadservlet</servlet-name>
        <url-pattern>/dataupload</url-pattern>
    </servlet-mapping>
    
    <mime-mapping>
    	<extension>manifest</extension> 
    	<mime-type>text/cache-manifest</mime-type> 
	</mime-mapping>
    
</web-app>
