SharedLib/.settings/
purcforms/.project
.classpath
OpenRosa/.classpath
SharedLib/.project
*/war/WEB-INF/classes/*
OpenRosa/.classpath
SharedLib/.project
SharedLib/build/
SharedLib/dist/
SharedLib/lib/gwt-purcforms-2.0.1.jar
OpenRosa/war/formdesigner/
boolean canSubmit = submitData();
FormDesigner/war/WEB-INF/lib/
FormDesigner/.settings/
.settings
FormDesigner/.classpath/
FormDesigner/.project/*
purcforms/.settings/*
com.google.gdt.eclipse.core.prefs
purcforms/.settings/com.google.gdt.eclipse.core.prefs
*.old
*.old2