<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<servlet>
        <servlet-name>filesaveservlet</servlet-name>
        <servlet-class>org.purc.purcforms.servlet.FileSaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>filesaveservlet</servlet-name>
        <url-pattern>/fileSave</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fileopenservlet</servlet-name>
        <servlet-class>org.purc.purcforms.servlet.FileOpenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileopenservlet</servlet-name>
        <url-pattern>/fileOpen</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>multimedia</servlet-name>
        <servlet-class>org.purc.purcforms.servlet.MultimediaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>multimedia</servlet-name>
        <url-pattern>/multimedia</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>formdownloadservlet</servlet-name>
        <servlet-class>org.purc.purcforms.servlet.FormDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>formdownloadservlet</servlet-name>
        <url-pattern>/formdownload</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>datauploadservlet</servlet-name>
        <servlet-class>org.purc.purcforms.servlet.DataUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>datauploadservlet</servlet-name>
        <url-pattern>/dataupload</url-pattern>
    </servlet-mapping>
    
    
    <mime-mapping>
    	<extension>manifest</extension> 
    	<mime-type>text/cache-manifest</mime-type> 
	</mime-mapping>
    
	<welcome-file-list>
		<welcome-file>FormEntry.html</welcome-file>
	</welcome-file-list>
	
</web-app>
